<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>AnyFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Signator.Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AnyFolder</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Signator.Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AnyApp</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.application-bundle</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Signator.Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AnyPackage</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.installer-package-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Signator.Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>OldPackage</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Signator.Document</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>in.mehulb.signator.url-scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sgntr</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
